@media(max-width:1199px){
    .about-infos h2 {
        font-weight: 700;
        font-size: 30px;
    }
    .menu-items {
        border: 1px solid #D3AD7F;
        color: white;
        padding: 20px;
        transition: .4s all ease-in-out;
    }
}
@media(max-width:991px){
    .about-infos h2 {
        font-weight: 700;
        font-size: 22px;
    }
    .about-infos p {
        font-size: 12px;
        font-weight: 300;
        margin: 0px 0px;
    }
    .menu-items {
        border: 1px solid #D3AD7F;
        color: white;
        padding: 10px;
        transition: .4s all ease-in-out;
    }
    .menu-items h3 {
        font-size: 22px;
    }
    .menu-items h4 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .icon-list i {
        color: white;
        font-size: 20px;
        margin-right: 5px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid whitesmoke;
        text-align: center;
        transition: .3s all ease-in-out;
    }
    .product-content h4 {
        color: white;
        font-size: 20px;
    }
    .post-info h3 {
        color: white;
        font-size: 19px;
    }
    .icon-f i {
        font-size: 20px;
        color: white;
        border: 1px solid grey;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 30px;
        margin-right: 5px;
    }
    .nav-items h5 {
        color: white;
        border: 1px solid grey;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 14px;
        margin: 2px;
    }
}
@media(max-width:767px){
    .header-info h1 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    .header-info h6 {
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        margin-top: 24px;
        text-align: center;
    }
    .header-info {
        color: white;
        padding: 150px 0px;
        text-align: center;
    }
}
@media(max-width:575px){
    
}
@media(max-width:425px){
    .nav-items h5 {
        color: white;
        border: 1px solid grey;
        padding: 5px 1px;
        font-weight: 400;
        font-size: 12px;
        margin: 0px;
    }
}
@media(max-width:320px){
    .nav-items h5 {
        color: white;
        border: 1px solid grey;
        padding: 3px;
        font-weight: 400;
        font-size: 10px;
        margin: 0px;
    }
    .header-info h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    .header-info h6 {
        font-size: 12px;
        font-weight: 300;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }
}
